bitrix
/bitrix/*
/bitrix/components/*
!/bitrix/components/KR
!/bitrix/fonts
!/bitrix/templates
!/bitrix/*.php
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/sitemaps/*
webstat/*
upload/*
upload
images
images/
temp/*
temp
upload_old/*
/*.*
!/*.php
!.gitignore
.htaccess
